<h1> Select Friend: </h1>

<ul>
  <li *ngFor="let friend of friends" style="cursor:pointer" [class.isSelected]="friend == selectedFriend" (click)="onFriendSelect(friend)">
    <h2> {{friend.name}} </h2>
  </li>
</ul>

<h1>Zeitmessung beim For loop und Foreach</h1>
<p>For loop: <b> {{timeForLoop}} </b> sec</p>
<p>Foreach: <b> {{timeForeach}} </b> sec </p>
<p>Diff: <b  [ngStyle]="{'color': isTimeForeachBetter() }" > {{dif}}  </b>% </p>

<!--
<div *ngIf="selectedFriend != null" class="isSelectedInfo">
  <div>
    <label>name:</label>
    <input class="isSelectedInfo" type="text" [(ngModel)]="selectedFriend.name">
  </div>
  <div>
    <label>github:</label>
    <span>{{selectedFriend.github}}</span>
  </div>
</div>
-->

<div *ngIf="selectedFriend != null">
  <app-friend [friend]="selectedFriend"></app-friend>
</div>
